

body{
    background-color: #666666;
}

.titulo{
    text-align: center;
}

.boton {
    display: grid; 
    padding: 10px 20px;
    margin: 10px;
    background-color: #8c8c8c; 
    color: black; 
    text-align: center;
    text-decoration: none; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}